.field {
	cursor: pointer;
	display: block;
	border: 1px solid #aaa;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.field__input {
	z-index: 1;
}

.field__frog {
	position: absolute !important;
	top: 0;
	left: 0;
}
