.frog {
	height: 60px;
	width: 60px;
	position: relative;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: end;
}

.frog__sex {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 5px;
	right: 5px;
	background-color: black;
}

.frog__sex--male {
	background-color: blue;
}

.frog__sex--female {
	background-color: purple;
}

.frog__name {
	bottom: 0;
	color: white;
}
